In [1]:
import pandas as pd
import op
from tqdm import tqdm
import matplotlib.pyplot as plt
import datetime

In [44]:
data=op.getting_files()
data= list(data)
l=len(data)

In [48]:
# # for i in tqdm(range(l)):
#     f=data[i]
#     df1=pd.read_excel(f,sheet_name='defbuffer1_1120_180553')
#     df2=pd.read_excel(f,sheet_name='Sheet1')

In [49]:
# # for i in tqdm(range(l)):
#     f=data[i]
#     df1=pd.read_excel(f,skiprows=8)
#     df2=pd.read_excel(f,skiprows=[x for x in range(8,len(df1)+9)])

In [50]:
df1.head()

                      Current    Voltage   rel_time
Datetime
2020-11-12 20:07:35  0.599964  36.333426   1.486306
2020-11-12 20:07:40  0.599964  36.332702   5.490771
2020-11-12 20:07:45  0.599965  36.332017   9.584404
2020-11-12 20:07:50  0.599966  36.331144  15.416597
2020-11-12 20:07:55  0.599966  36.330461  20.449091

In [51]:
# df3=df1.iloc[:,[0,13,21]]
# df3.columns=['Current','Voltage','rel_time']

In [54]:
df2.head()

                     Current    Voltage   rel_time
Datetime
2020-11-15 08:44:40  0.59996  36.256649   1.811660
2020-11-15 08:44:45  0.59996  36.255891   6.441467
2020-11-15 08:44:50  0.59996  36.255084  11.473824
2020-11-15 08:44:55  0.59996  36.254218  16.506173
2020-11-15 08:45:00  0.59996  36.253304  21.538570

In [53]:
# new=df3.loc[7520,'rel_time']
# old=df3.loc[7519,'rel_time']
# for i in tqdm(range(7520,len(df3))):
#     t=(df3['rel_time'][i]-new)
#     df3.iloc[i,2]=old+t

In [55]:
df3.head()

                      Current    Voltage   rel_time
Datetime
2020-11-17 19:41:25  0.599963  36.308162   1.576820
2020-11-17 19:41:30  0.599963  36.308227   5.700747
2020-11-17 19:41:35  0.599963  36.308356  10.673852
2020-11-17 19:41:40  0.599963  36.308496  15.647089
2020-11-17 19:41:45  0.599963  36.308673  20.620143

In [56]:
# df2.tail()

In [57]:
# start= pd.to_datetime(df2.iloc[6,1], format='%m/%d/%Y %H:%M:%S')

In [59]:
# start2= pd.to_datetime(df2.iloc[6,1] + ' ' + df2.iloc[5,1])

In [60]:
# start

In [61]:
# df3['Datetime']=start+pd.to_timedelta(df3['rel_time'],unit='S')

In [62]:
# df3.tail()

In [12]:
df3.to_excel('letid_data_mod94_3.xlsx')

In [13]:
df3.index=df3['Datetime']

In [14]:
df3.head()

,Current,Voltage,rel_time,Datetime
Datetime,,,,
2020-11-17 19:41:26.832000000,0.599964,36.308140,0.00000,2020-11-17 19:41:26.832000000
2020-11-17 19:41:27.074590189,0.599963,36.308182,0.24259,2020-11-17 19:41:27.074590189
2020-11-17 19:41:27.317180140,0.599963,36.308125,0.48518,2020-11-17 19:41:27.317180140
2020-11-17 19:41:27.559760077,0.599963,36.308140,0.72776,2020-11-17 19:41:27.559760077
2020-11-17 19:41:27.802350027,0.599963,36.308155,0.97035,2020-11-17 19:41:27.802350027

In [15]:
df3=df3.resample('5S').mean()

In [63]:
# df3.head()

In [64]:
# df3.info()

In [65]:
# df3.to_excel('letid_data_mod94_3c.xlsx')

In [66]:
# for i in tqdm(range(l)):
#     f=data[i]
#     df2=pd.read_excel(f)

In [67]:
# df2.head()

In [37]:
# df2.index=df2['Datetime']

In [68]:
# df2.head()

In [69]:
# df2=df2.resample('5S').mean()

In [70]:
# df2.head()

In [71]:
# df2.drop(['Unnamed: 0'],axis=1,inplace=True)

In [72]:
# df2.head()

In [32]:
# df1.to_excel('letid_data_mod94_1c.xlsx')

In [43]:
# df2.to_excel('letid_data_mod94_2c.xlsx')

In [45]:
for i in tqdm(range(l)):
    f=data[i]
    df=pd.read_excel(f)
    op.append_df_to_excel('letid_data_mod94_compiled.xlsx',df)

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:34<00:00, 11.42s/it]